/* .menu-management-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.menu-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.add-menu-button {
  color: var(--dark-text-color);
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.add-menu-button:hover {
  background-color: var(--secondary-color);
} */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.addMenuButton {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.addMenuButton:hover {
  background-color: var(--secondary-color);
}
