.container {
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  font-family: "Segoe UI", sans-serif;
}
.projectLink {
  text-decoration: none !important;
  color: var(--dark-text-color);
}
.projectLink:hover {
  color: var(--light-text-color);
}
.leftColumn {
  flex: 1;
  padding: 1.5rem;
  background: var(--bg-secondary-color);
  border-radius: 8px;
  max-width: fit-content;
  min-width: 300px;
  height: fit-content;
}

.rightColumn {
  flex: 1;
  padding: 1.5rem;
  background: #f8fafc;
  border-radius: 8px;
}

.rightColumn img {
  width: 100%;
}

.mainTitle {
  color: var(--dark-text-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

.sectionTitle {
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 2rem;
  margin: 1rem 0;
}

.subTitle {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin: 0.75rem 0;
}

/* Projects List - Right Column */
.projectList {
  list-style: none;
  padding: 0;
}

.projectList li {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-left: 3px solid var(--primary-color);
  transition: all 0.2s ease;
}

.projectList li:hover {
  background-color: var(--primary-color); /* Dark blue */
  color: white;
  transform: translateX(5px);
}

/* SOPs List - Left Column */
.procedureList {
  padding-left: 1.25rem;
}

.procedureList li {
  padding: 0.5rem 0;
}
.procedureList li:hover p {
  color: var(--secondary-color); /* Blue text */
}

.guidelines {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #e2e8f0;
  border-radius: 6px;
}

.guidelines p {
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #cbd5e0;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #ebf8ff;
  border-radius: 6px;
}

.footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
.guidelines p:hover {
  color: var(--secondary-color); /* Blue text */
}
.procedureList li {
  padding: 0.5rem 0;
  transition: color 0.2s ease;
}

.procedureList li:hover {
  color: var(--secondary-color);
}
.linkList a {
  display: block;
  padding: 8px 12px;
  background: white; /* Normal white background */
  color: black; /* Text color black */
  text-decoration: none;
  border-radius: 4px;
}

.linkList a:hover {
  background: #f1f1f1; /* Hover pe halka gray */
}

.divBody table {
  width: 100%;
  border-collapse: collapse; /* Collapses adjacent borders into a single border */
}
.divBody blockquote {
  color: var(--secondary-color);
}
.divBody thead {
  background-color: var(--bg-secondary-color);
}
.divBody figure {
  overflow-x: auto;
  width: 100%;
  margin: 0;
}
.divBody table,
.divBody th,
.divBody td {
  border: 1px solid black;
  padding: 5px;
}
