.links {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.links a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}
